{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TravelApp :: Mensaje nª{{message.id}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Beta app" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="Juan Luis Reguera Gómez" />

  <!-- 
	//////////////////////////////////////////////////////
		
	Email: 			srjuanlu94@gmail.com
	Twitter: 		http://twitter.com/SirSilva94
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<!-- Animate.css -->
	<link rel="stylesheet" href= '{% static "css/animate.css" %}'>
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href='{% static "css/icomoon.css" %}'>
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href='{% static "css/simple-line-icons.css" %}'>
	<!-- Magnific Popup -->
	<link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>

	<link rel="stylesheet" href='{% static "css/style4.css" %}'>

	<!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->
	<link rel="stylesheet" href='{% static "css/map.css" %}'>
	<link rel="stylesheet" id="theme-switch" href='{% static "css/style4.css"%}'>
	<!--AJAX-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Modernizr JS -->
	<script src='{% static "js/modernizr-2.6.2.min.js" %}'></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	</head>
	<body id="cero-home">
	<!-- Preloader -->
    <div class="preloader">
        <div class="status"></div>
    </div>
		<div class="gradient">
			<header role="banner" id="cero-header">
				<!-- Fixed navbar -->
	    		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	      			<div class="container">
	        			<div class="navbar-header">
	          				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            				<span class="sr-only">Toggle navigation</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
	          				</button>
	          				<a class="navbar-brand" href="#">TravelApp</a>
	        			</div>
		        		<div class="navbar-collapse collapse">
			          		<ul class="nav navbar-nav navbar-right">
			            		<li class="dropdown">
			              			<a id="navbarcolor" href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones</a>
			              			<ul class="dropdown-menu">
						                <li><a href="http://127.0.0.1:8000/messages-list/" style="cursor:pointer;">Volver a mensajes</a></li>
					                </ul>
			            		</li>            
			          		</ul>
		        		</div><!--/.nav-collapse -->
	      			</div>
	    		</div>
			</header>
            <div id="init-content">
				{% if isMeMessage %}
                <div class="row">
                    <div class="col-md-12">
                        <div panel with panel-default class>
                            <div class=panel-heading>
								<label style="visibility: hidden" id="idMessage">{{message.id}}</label>
                                <h5>Asunto: {{message.issue}}</h5>
                            </div>
                            <div class="panel-body">

                                <div>
                                    <p style="color: black;">
                                        {{message.description}}
                                    </p>
									{% if type1 or type3%}
                                    <p>
                                        <a style="color: black;" href="http://127.0.0.1:8000/route/{{message.idJourney}}">Ver detalles del viaje</a>
                                    </p>
									{% endif %}
                                </div>

                            </div>
                            <div class="panel-footer col-md-12">
								{% if type1 or type3%}
										<div class="col-md-6">
											<a style="color: black;" href="http://127.0.0.1:8000/profile-user/{{message.idUser}}">Conductor: {{driverName}}</a>
										</div>
								{% endif %}
                                <div class="col-md-3">
									{% if type1 %}
										<form action ="http://127.0.0.1:8000/pay-route/{{message.id}}";>
											<input style="color: black;" type="submit" value="Aceptar y pagar">
										</form>
									{% endif %}
									{% if type3 %}
										{% if not isPuntuated %}
											{% if not type4 %}
											<form>
												<select style="color:black" name="punt" id = "punt">
													<option style="color:black">0</option>
													<option style="color:black">-1</option>
													<option style="color:black">1</option>
												</select>
												<input id="puntbutton" style="color: black;" onclick="PuntuationDriver()" type="button" value="Enviar puntuacion">
											</form>
											{% endif %}
										{% else %}
											<h6>Ya ha puntuado a este Conductor</h6>
										{% endif %}
									{% endif %}
                                </div>
								<div class="col-md-3">
									<form action ="http://127.0.0.1:8000/delete-message/{{message.id}}";>
                                    	<input style="color: black;" type="submit" value="Eliminar mensaje">
									</form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				{% else %}
					<h6>No tienes permisos para acceder a este mensaje. Por favor no vuelva a intentarlo.</h6>
				{% endif %}
            </div>
	<!-- End demo purposes only -->
	<!-- jQuery -->
	<script src='{% static "js/jquery.min.js" %}'></script>
	<!-- jQuery Easing -->
	<script src='{% static "js/jquery.easing.1.3.js" %}'></script>
	<!-- Bootstrap -->
	<script src='{% static "js/bootstrap.min.js" %}'></script>
	<!-- Waypoints -->
	<script src='{% static "js/jquery.waypoints.min.js" %}'></script>
	<!-- Stellar Parallax -->
	<script src='{% static "js/jquery.stellar.min.js" %}'></script>
	<!-- Counter -->
	<script src='{% static "js/jquery.countTo.js" %}'></script>
	<!-- Magnific Popup -->
	<script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
	<script src='{% static "js/magnific-popup-options.js" %}'></script>
	<!-- For demo purposes only styleswitcher ( You may delete this anytime ) -->
	<script src='{% static "js/jquery.style.switcher.js" %}'></script>
	<!-- Main JS (Do not remove) -->
	<script src='{% static "js/main.js" %}'></script>
	<script src='{% static "js/appHome.js" %}'></script>
	<script src='{% static "js/appPuntuation.js" %}'></script>
	<script src='{% static "js/date.js" %}'></script>
	<script src='{% static "js/preloader.js" %}'></script>
	</body>
</html>

