html, body {
  height: 100%;
  width:100%
}
#map2 {
  height:100%; 
  width:100%
}
@media (min-width: 250px) and (max-width: 375px) {
  #map2 {
    height:75%; 
    width:100%
  }
}

@media (min-width: 375px) and (max-width: 450px) {
  #map2 {
    height:90%; 
    width:100%
  }
}
/*Tablets*/
@media (min-width: 768px) and (max-width: 979px){
  #map2 {
    height:117%; 
    width:100%;
    margin-top: 20%;
  }
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#destination-input {
  background-color: #333;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: -200px;
  margin-top: 60px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}
#origin-input{
  background-color: #333;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}
#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}
#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}
#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#init-content{
  margin-top: 7%;
  padding-left: 10%;
  padding-right: 10%;
  height: 70%;
  width: 100%;
}
#label-details{
  
}